@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
.u-container {
  max-width: 55rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem; }

.u-center-text {
  text-align: center; }

.mb-m {
  margin-bottom: 5rem; }

.mt-l {
  margin-top: 8rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333;
  height: 300vh; }

.book-form {
  width: 100%; }
  .book-form__label {
    display: block; }
  .book-form__input {
    padding: 0.5rem 1rem;
    font-family: inherit;
    width: 100%; }

.form-group {
  margin-bottom: 3rem; }
  .form-group:last-child {
    margin-bottom: 5rem; }

.msg {
  color: #fff;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  border-radius: 10px; }
  .msg--error {
    background-color: #d93a00; }
  .msg--success {
    background-color: #7dc018; }

.delete-book {
  text-decoration: none;
  color: orangered;
  font-size: 2.5rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 50px;
  width: initial;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  outline: none; }

.btn:hover {
  background-color: #353535;
  transform: translateY(-3px); }

.btn:active {
  transform: translateY(0px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }

.book-table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto; }

.book-table,
th,
td {
  padding: 0.8rem 1rem;
  text-align: center; }

th,
td {
  border-bottom: 1px solid #e2e2e2; }
