.u-container {
  max-width: 55rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem;
}

.u-center-text {
  text-align: center;
}

.mb-m {
  margin-bottom: 5rem;
}

.mt-l {
  margin-top: 8rem;
}
