.book-table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

.book-table,
th,
td {
  padding: 0.8rem 1rem;
  text-align: center;
}

th,
td {
  border-bottom: 1px solid $color-grey-light-1;
}
